@media screen and (max-width:979px) and (min-width:768px) {

    #btnLogOut {

        width     : 100%;
        margin-top: 10px;
        color     : white !important;

    }

    .login, .signup  , .home{

        width: 90%;

    }


}

@media screen and (max-width:767px) and (min-width:501px) {

    #btnLogOut {

        width     : 100%;
        margin-top: 10px;
        color     : white !important;

    }

    .login , .signup , .home{

        width: 90%;

    }

}

@media screen and (max-width:500px) {


    #btnLogOut {

        width     : 100%;
        margin-top: 10px;
        color     : white !important;

    }


    .login, .signup , .home {

        width: 90%;

    }
}